@mixin clear{
	&::before, &::after{
		display: table;
		content: '';
	}
	&:after{
		clear: both;
	}
}
@mixin inline($valign: top){
	display: inline-block;
	vertical-align: $valign;
}
@mixin container{
	width: auto;
	
	@media ($tablet-width){
		width:88%;
		max-width: 960px;
		margin: 0 auto;	
	}
	@media ($desktop-width){
		max-width: 1200px;
	}	
}
 
@function rem($px){
	@return $px/16px + 0rem;
}
@mixin btn($width: 280px){
	width: $width;
	font-size: 18px;
	font-family: Open Sans Bold, Arial Bold, sans-serif;
	padding: 19px 0;
	border: 3px solid #d22856;
	border-radius: 25px;
	text-align: center;
	color: #d22856;
}

@mixin dpi{
	@media (min-resolution:144dpi), (min-resolution: 1.5dppx){
		@content;
	}
}

@mixin desktop{
	@media screen and (min-width: 1200px){
		@content;
	}
}

@mixin tablet{
	@media screen and (min-width: 701px){
		@content;
	}
}
@mixin mobile{
	@media screen and (max-width:700px){
		@content;
	}
}
